<%= form_for([:admin, @review]) do |form| %>
  
  <%= render "shared/error_messages", :target => @review %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :location %><br />
    <%= form.text_field :location %>
  </p>
  <p>
    <%= form.label :review %><br />
    <%= form.text_area :review %>
  </p>
  <p>
    <%= form.submit t('update') %>
  </p>
  
<% end %>
