<h1><%= t('review_management_description') %></h1>

<%- for reviews in [[t("unapproved_reviews"), @unapproved_reviews], [t("approved_reviews"), @approved_reviews]] -%>
  <h2><%= reviews[0] %> <%= Review.model_name.human(:count => reviews[0]) %></h2>
  
  <table class="index">
    <thead>
      <tr>
        <th style="width: 80px"><%= Review.human_attribute_name(:created_at) %></th>
        <th style="width: 100px"><%= Review.human_attribute_name(:user) %></th>
        <th><%= Review.human_attribute_name(:title) %> / <%= Review.human_attribute_name(:product) %></th>
        <th><%= Review.human_attribute_name(:review) %></th>
        <th style="width: 230px"></th>
      </tr>
    </thead>
    <tbody>
      <%- for review in reviews[1] -%>
      <tr>
        <td> 
          <%= l(review.created_at, :format => :short) %>
        </td>
        <td> 
          <%= h review.name %> <%= t('reviews_from', :default => 'from') %><br />
          <%= h review.location %>
        </td>
        <td>
          <%= h review.title %><br/>
          <%= t('reviews_for', :default => 'for') %> <%= link_to review.product.name, product_path(review.product) %>
        </td>
        <td>
          <%= truncate h(review.review), :length => 100 %>
        </td>
        <td>
          <%- unless review.approved -%>
          <%= link_to image_tag('/admin/images/icons/accept.png') + t('approve'), [:approve, :admin, review], :method => :put, :class => 'icon_link' %>
          <%- end -%>
          <%= link_to_edit review %>
          <%= link_to_delete review %>
        </td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%> 
