<div class="review">
  <span title="<%= t('reviews_rating_title', :default => '%{stars} out of 5') % {:stars => review.rating} -%>">
    <%= render :partial => "reviews/stars", :locals => {:stars => review.rating} %>
  </span>
  &nbsp; <span class="title"><%=h review.title -%></span>
  <br/>
  <span class="attribution"><%= raw t('review_attribution', :default => 'By <strong>%{name}</strong> from <strong>%{location}</strong> on <strong>%{date}</strong>') % {:name => h(review.name), :location => h(review.location), :date => l(review.created_at.to_date)} %></span>
  <p>
    <%=h review.review %>
  </p>
</div>
